html {
  height: 100%;
}

body {
  background: aquamarine;
  font-family: Roboto;
  margin: 0px;
  min-height: 100%;
}

.container {
  border: 1px solid black;
  height: fit-content;
  display: flex;
  justify-content: center ;
  flex-direction: column;
}

.upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}