body {
  background-color: aquamarine;
}

.container {
  
  border: 1px solid black;
  height: 600px;
  flex-direction: column;
}

.upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}