
body {
  background: aquamarine;
  font-family: Roboto;
  margin: 0px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 1000px;
}

.container {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  position: absolute;
}

.upper-container {
  display: grid;
  grid-template: 1fr / 2fr 1fr 1fr;
  align-items: center;
  background-color: rgb(204, 255, 162);
  position: relative;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  background-color: antiquewhite;
  position: relative;
}

@media (max-width: 480px) {
  .upper-container {
    display: flex;
    flex-direction: column;
  }

  .bottom-container #todo-list {
    width: 100%;
  }
}

@media (min-width: 481px) {
  .container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .upper-container {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    top: 30px
  }
  .upper-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  }
  .bottom-container #todo-list {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .bottom-container #todo-list {
    width: 85%;
  }
  .reveal-colors {
    height: 100px;
    padding-bottom: 10px;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .bottom-container #todo-list {
    width: 85%;
  }
  .reveal-colors {
    height: 100px;
    padding-bottom: 10px;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr 1fr;
  }
}


