#todo-title {
  width: 500px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 18px;
  padding-left: 20px;
}

#todo-title:focus {
  outline: 3px solid cadetblue;
  border: none;
}

::placeholder {
  font-size: 18px;
  font-family: Roboto;
}

#date-picker {
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 18px;
  padding: 0px 10px;
  font-family: Roboto;
  color: gray;
}

#date-picker:focus {
  outline: 3px solid cadetblue;
  border: none;
}

input {
  margin: 20px 5px;
}