input {
  margin: 10px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px cadetblue;
}

#todo-title {
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 26px;
  padding-left: 20px;
}

::placeholder {
  font-size: 18px;
}

#date-picker {
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 18px;
  padding: 0px 10px;
  color: gray;
}

@media (max-width: 480px){
  #todo-title,
  #date-picker {
    width: 80%;
    margin: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #todo-title,
  #date-picker {
    width: 85%;
  }
  #todo-title {
    grid-area: 1 / 1 / span 1 / span 2
  }
  #date-picker {
    grid-area: 1 / 3 / span 1 / span 2
  }
}
