:root {
  --color-palette-border: 1px solid black;
}

input {
  margin: 10px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px cadetblue;
}

#todo-title {
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 26px;
  padding-left: 20px;
}

::placeholder {
  font-size: 18px;
}

#date-picker {
  height: 50px;
  border-radius: 40px;
  border: 1px solid cadetblue;
  font-size: 18px;
  padding: 0px 10px;
  color: gray;
}

@media (max-width: 480px){
  #todo-title,
  #date-picker {
    width: 80%;
    margin: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #todo-title,
  #date-picker {
    width: 85%;
  }
  #todo-title {
    grid-area: 1 / 1 / span 1 / span 2
  }
  #date-picker {
    grid-area: 1 / 3 / span 1 / span 2
  }
}

@media (min-width: 769px) {
  #todo-title {
    width: 55%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #todo-title {
    width: 55%;
    grid-area: 1 / 1 / span 1 / span 2;
  }
  #date-picker {
    grid-area: 1 / 2 / span 1 / span 1
  }
}


@media (min-width: 1025px) {
  #todo-title {
    grid-area: 1 / 1 / span 1 / span 2;
  }
  #date-picker {
    grid-area: 1 / 2 / span 1 / span 1
  }
  .color-palette {
    border: var(--color-palette-border);
    grid-template: 20px / repeat(6, 1fr);
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
  }
  .first {
    background-color: #f9d1d1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .second {
    background-color: #ffa4b6;
  }
  .third {
    background-color: #f765a3;
  }
  .fourth {
    background-color: #a155b9;
  }
  .fifth {
    background-color: #165baa;
  }
  .sixth {
    background-color: #0b1354;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
