
#todo-list div {
  background-color: white;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 26px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1)
}

.check {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  #todo-list div {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    height: auto;
    font-size: 15px;
  }
}

@media (min-width: 0px) {
  #todo-list div {
    margin: 18px 10px 10px 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #todo-list div {
    justify-content: space-between;
    overflow-wrap: break-word;
    height: auto;
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #todo-list div {
    justify-content: space-between;
    height: auto;
    font-size: 22px;
  }
}

@media (min-width: 1025px){
  #todo-list div {
    justify-content: space-between;
    height: auto;
    font-size: 22px;
  }
}

