@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Racing+Sans+One&display=swap");
@import "../variables";

html, body {
  overflow: hidden;
}

h1 {
  font-family: "Racing Sans One";
  color: #494949;
}

p {
  color: $lightgray;
}

.dark-theme {
  body {
    background-color: $black;
  }
  h1 {
    color: $white;
  }
  p {
    color: $lightgray;
  }
  .divider-container__note-pencil-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(234deg) brightness(96%) contrast(104%);
  }
  .header__line {
    background-color: $white;
  }
  .inner-root__stripe {
    background-color: $gray;
  }
  .inner-root__theme-toggle {
    filter: invert(100%) brightness(200%);
  }
  .todo-container__todo {
    background-color: $black;
    border-right: 1px solid $black;
    &.opened {
      border-right: 1px solid $lightgray;
    }
  }
  .form-check-input {
    background-color: transparent !important;
  }
}

.inner-root {
  height: 100vh;
  position: relative;
}

.inner-root__stripe {
  position: absolute;
  width: 50px;
  height: 500px;
  background-color: $lightgray;
  transform: rotate(-45deg);
}

.inner-root__stripe_top {
  top: -220px;
  right: 0;
}

.inner-root__stripe_bottom {
  bottom: -220px;
  left: 0;
}

.inner-root__theme-toggle {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.todo-container {
  max-height: 304px;
  overflow-y: auto;
  gap: 8px;
}

@media (min-width: 576px) {
  .inner-root__stripe {
    width: 100px;
  }

  .inner-root__stripe_top {
    top: -200px;
    right: 0;
  }
  
  .inner-root__stripe_bottom {
    bottom: -200px;
    left: 0;
  }

  .inner-root__theme-toggle {
    left: 10%;
  }
}